<font color="#00d5ff">DEUTSCHE STIMME</font>
Pascal Simon Grote als Josh “Schmitty” Schmitstinstein

<font color="#00d5ff">ÜBERSETZUNG</font>
SpooX
Pascal Simon Grote

<font color="#00d5ff">WEB-ENTWICKLUNG</font>
Erizzle

<font color="#00d5ff">MEGA-PATREON-SUPPORTER</font>
Lillith
Cedrik Ple
ACertainCoder
Just a Yoshi


<font color="#00d5ff">JACKBOX GAMES</font>

<font color="#00d5ff">DESIGN & EDITORIAL DIRECTOR</font>
Steve Heinrich

<font color="#00d5ff">LEAD ENGINEER</font>
Ben Jacobs

<font color="#00d5ff">ART DIRECTOR</font>
Dave Innis

<font color="#00d5ff">MUSIC & AUDIO DIRECTOR</font>
Andy Poland

<font color="#00d5ff">HOST</font>
Phil Ridarelli as Josh “Schmitty” Schmitstinstein

<font color="#00d5ff">HEAD WRITERS</font>
Warren Arnold Danny Gallagher Spencer Ham Arnie Niekamp

<font color="#00d5ff">CONTRIBUTING WRITERS</font>
Andy Poland Steve Heinrich

<font color="#00d5ff">QA LEAD</font>
Luke Cody

<font color="#00d5ff">ENGINEERS</font>
Mark Turowetz Pascal Pochol Mike Zuba

<font color="#00d5ff">QA</font>
Steve Pakal Jacob Mooney Michael Crawford

<font color="#00d5ff">LEGAL COUNSEL</font>
Kurt Hirsch

<font color="#00d5ff">ENGINEERING INTERN</font>
Ryan Farrell

<font color="#00d5ff">MEDIA PRODUCTION INTERN</font>
Tom Barrett

<font color="#00d5ff">PAID TOO MUCH FOR THIS GAME</font>
Alex Swan

<font color="#00d5ff">THING DOER</font>
Christopher David Yudichak

<font color="#00d5ff">VP OF BUTTON CLICKS</font>
Steve "Vince" Anichini

<font color="#00d5ff">CTO & CO-FOUNDER OF JACKBOX GAMES</font>
Brant Gurganus

<font color="#00d5ff">ACTUAL BEST FRIEND OF SIR PAUL MCCARTNEY</font>
Dalton "O/N" Castleman

<font color="#00d5ff">NO FUN LEAGUE COMMISSIONER</font>
Trace Evans

<font color="#00d5ff">POOPSIE AND MAYONNAISE WRANGLER</font>
Matt DiGirolamo

<font color="#00d5ff">THE QUIPLASH CREDIT THAT CARES</font>
Fard E. Muhammad

<font color="#00d5ff">ASSOCIATE CONTRIBUTION EVANGELIST</font>
Sunder Iyer

<font color="#00d5ff">TURBO LIME GREEN PENGUIN THERAPIST</font>
Jack Kagan

<font color="#00d5ff">MIKE BILDER’S BOSS</font>
Shaun Himmerick

<font color="#00d5ff">"YOU’RE DOING IT WRONG" EXPERT</font>
Christopher Lewellyn Eckles

<font color="#00d5ff">JAZZ CONTAINMENT SPECIALIST</font>
Jeffrey Sears

<font color="#00d5ff">16 TRIPS TO OXFORD</font>
James Doe

<font color="#00d5ff">ULTIMATE ARBITER OF ALL THINGS COMEDIC</font>
David Schulman

<font color="#00d5ff">FALAFEL CONSULTANT</font>
@SelAromDotNet

<font color="#00d5ff">LOVER OF SO UCHIKAWA</font>
Nathan Miller

<font color="#00d5ff">NFI HEAD OF MOONBASE OPERATIONS</font>
NFI Pez featuring NFI Crew

<font color="#00d5ff">RULER OF THE REALM</font>
Alma Carrera

<font color="#00d5ff">SENIOR CAT TRAINER</font>
Paul Fugère

<font color="#00d5ff">OFFICIAL JACKBOX STREET FIGHTER</font>
Ethan Parr

<font color="#00d5ff">UNLEADED PROGRAMMER</font>
Paul Reynolds

<font color="#00d5ff">BUILT FOR BURRITOS</font>
Peter Armstrong

<font color="#00d5ff">HEAD DIETARY HONCHO OF ALPINE FIRESIDE</font>
Peter "The SpamMan" Daugherty

<font color="#00d5ff">MAD GENIUS BEHIND R.F.G.(RADIO FOR GAMERS)</font>
Max Schutz

<font color="#00d5ff">DAD AND MOM OF THE CEO</font>
Mike and Carol Bilder

<font color="#00d5ff">ILLUMINATI HYENA FROM SPACE</font>
Dodger Of Zion

<font color="#00d5ff">BEN JACOBS’</font>
Mother-In-Law

<font color="#00d5ff">THE ONLY 2 THAT WATCHED THE YDKJ TV SHOW</font>
Abraham and Amber May

<font color="#00d5ff">FORMER VAUDEVILLE STAR AND CURRENT RACONTEUR</font>
Murry Bruin

<font color="#00d5ff">DIRECTOR OF BURRITO QUALITY ASSURANCE</font>
Collin Bachman

<font color="#00d5ff">THE 51st SHADE OF GRAY</font>
Christian Saulog

<font color="#00d5ff">UNCLE OREGON </font>
Mitchell Jacover

<font color="#00d5ff">ORDER</font>
corn

<font color="#00d5ff">NERDY UNPAID INTERN & LIVING UPSTAIRS</font>
Paul Cook

<font color="#00d5ff">THE DARK SOUL</font>
Moof Murphy

<font color="#00d5ff">STARING CHAMPION, ZOO DIVISION G.O.A.T.</font>
LaMott Jackson

<font color="#00d5ff">WRITER & SPECIAL TWITCH/YOUTUBE PARTY PLAYER </font>
Leonardo "LeoImChewingGum" Anchundia

<font color="#00d5ff">PENNY SERENADE</font>
Penny Serenade

<font color="#00d5ff">MUSICIAN/COMPOSER OF MUSIC/BAD JOKES</font>
Michael 'Skitch' Schiciano

<font color="#00d5ff">STAND-UP COMIC AND ENGINEER EXTRAORDINAIRE</font>
Tiffany Walsh

<font color="#00d5ff">QUICKER SWIFTER PICK-UP HUGGER</font>
Jason "VxJasonxV" Salaz

<font color="#00d5ff">FATHER OF THE PRECIOUS</font>
ronpatrick

<font color="#00d5ff">PUBLISHER</font>
Game Seed Inc.

<font color="#00d5ff">LINE COOK OF THE CENTURY</font>
Wesley Cummins

<font color="#00d5ff">QUEEN OF SKYRIM</font>
Ginger Bellamy

<font color="#00d5ff">PEOPLE WHO DIDN’T TELL US HOW THEY WANTED TO BE CREDITED</font>
Leo Jonathan Schwartz Justin Ho

<font color="#00d5ff">SPECIAL THANKS</font>
Greg Gretsch Emily Helmers Tim Sniffen Luke Donovan Eve Barkwill Tom Gottlieb Everyone who supported our Kickstarter campaign!

<font color="#00d5ff">CEO</font>
Mike Bilder

<font color="#00d5ff">VP OF CREATIVE</font>
Allard Laban

<font color="#00d5ff">VP OF ENGINEERING</font>
Evan Jacover

<font color="#00d5ff">FOUNDER of JACKBOX GAMES</font>
Harry Gottlieb
